.card-s2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    z-index: 3;
    border-radius: var(--radius-15);
    background: var(--white, #fff);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-bottom: var(--gap-20);
    cursor: pointer;
}

.card-s2 img {
    max-width: 100%;
    height: auto;
    object-fit: cover

}

.category-card-s2 {
    position: absolute;
    top: var(--gap-20);
    display: flex;
    padding: var(--gap-3);
    font-size: var(--font-size-13);
    font-weight: 500;
    line-height: 1.06rem;
    letter-spacing: -0.02rem;
    color: var(--color-primary);
    border-radius: 0px 62px 62px 0px;
    background: var(--lighter-gray, #e0e0e0);
}

.hr {
    position: absolute;
    top: 14.25rem;
    left: 2.5rem;
    width: 13.56rem;
    height: 1.18rem;
    border: none;
    border-radius: var(--radius-15);
    background-color: var(--color-primary);
}

.container-name-card-s2 {
    display: flex;
    justify-content: center;
}

.name-card-s2 {
    width: 80%;
    font-size: var(--font-size-23);
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.07rem;
    text-align: center;
    color: var(--color-primary);
    margin-top: 25px;
}

.container-values-s2 {
    display: flex;
    justify-content: space-between;
    margin-top: 1.56rem;
}

.previos-value-card-s2 {
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 2.37rem;
    letter-spacing: -0.03rem;
    text-decoration: line-through;
    color: var(--color-primary);
    margin-left: var(--gap-5);
}

.current-value-card-s2 {
    font-size: var(--font-size-20);
    font-weight: 400;
    line-height: 2.37rem;
    letter-spacing: -0.03rem;
    padding: 0.31rem 1.87rem;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--color-secundary);
    color: var(--color-primary);
}

.container-payments-s2 {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background: #f7f7f7;
    margin-top: 1.56rem;
}

.installments-card-s2 {
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 2.37rem;
    letter-spacing: -0.03rem;
    color: var(--dark-gray, #333);
}

.value-installments-card-s2 {
    margin-left: var(--gap-5);
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 2.37rem;
    letter-spacing: -0.03rem;
    color: var(--dark-gray, #333);
}
